<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'recipes\a2partials\a1head.html' %}
    <title>Home | {% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'recipes/a2partials/a2header.html' %}<!--Logo-->
    {% include 'recipes/a2partials/a3search.html' %}<!--Search-->
    <main class='grid'><!--Recipes-->
        <div>
            <div class="grid-fix">
                {% block content %}{% endblock content %}
            </div>
        </div>
        </div>
    </main>
    {% include 'recipes/a2partials/a5footer.html' %}
</body>
</html>