{% include 'recipes/a2partials/a1head.html' %}
<link rel="stylesheet" href="..\a2partials\a0styles.css">
<body>
    {% include 'recipes/a2partials/a2header.html' %}<!--Logo-->
    {% include 'recipes/a2partials/a3search.html' %}<!--Search-->
    <main class='grid'><!--Recipes-->
        <div>
            <div class="grid-fix">
                {% include 'recipes/a2partials/a4recipes.html' %}
                {% include 'recipes/a2partials/a4recipes.html' %}
                {% include 'recipes/a2partials/a4recipes.html' %}
            </div>
        </div>
        </div>
    </main>
    <footer class="finalConsiderations">
        <div><a href='https://github.com/OJKSAGASFHGIK' target='_blank' rel='noreferrer noopener'>By Marcus Guilherme</a></div>
        <div><a href='https://github.com/OJKSAGASFHGIK' target='_blank' rel='noreferrer noopener'>Powered by Django</a></div>
    </footer>
</body>

</html>