{% include 'recipes/a2partials/a1head.html' %}
<link rel="stylesheet" href="..\a2partials\a0styles.css">
<body>
    {% include 'recipes/a2partials/a2header.html' %}<!--Logo-->
    {% include 'recipes/a2partials/a3search.html' %}<!--Search-->
    <main class='grid2'><!--Recipes-->
        <div>
            <div class="grid-fixfix">
                {% include 'recipes/a2partials/a4recipes.html' %}
            </div>
        </div>
        </div>
    </main>
    {% include 'recipes/a2partials/a5footer.html' %}
</body>
</html>